@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');  
    .headerz{
      font-family: 'Rubik', monospace;
      text-align: center;
    }
    #p1{
      font-size: 100px;
      font-family: monospace;
      color: rgb(0, 255, 0);
    }