@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');  
    #headerz{
      font-family: 'Rubik', monospace;
      font-size: 70px;
      background-color: black;
      color: white;
    }
    #headerzone{
        font-family: 'Rubik', monospace;
        text-align: center;
        font-size: 40px;
      }
      #Paragraphone{
       font-family: 'Rubik', monospace; 
       text-align: center;
       font-size: 40px;
      }
    
